<form [formGroup]="fg" (ngSubmit)="submit()">
    <nb-card>
        <nb-card-body>
            <div>
                <input formControlName="lastName" nbInput type="text">
                <app-form-error [control]="fg.get('lastName')"></app-form-error>
            </div>
            <div>
                <input formControlName="firstName" nbInput type="text">
                <app-form-error [control]="fg.get('firstName')"></app-form-error>
            </div>
            <div>
                <input formControlName="birthDate" nbInput [nbDatepicker]="dp">
                <nb-datepicker #dp></nb-datepicker>
                <app-form-error [control]="fg.get('birthDate')"></app-form-error>
            </div>
            <div>
                <button [disabled]="fg.invalid" nbButton status="info" outline>Sauvegarder</button>
            </div>
        </nb-card-body>
    </nb-card>
</form>
