<nb-layout>

  <nb-layout-header>
    <div id="header">
      <h4>Demo Api</h4>
      <nb-icon *ngIf="!authService.token" icon="power" routerLink="/exercice/login"></nb-icon>
      <div *ngIf="authService.token">
        <a routerLink="/exercice/profile">{{ authService.user?.name }}</a> |
        <nb-icon icon="log-out" (click)="logout()"></nb-icon>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <p>&copy; Technofutur - 2021</p>
  <p>Salut</p>
  </nb-layout-footer>

</nb-layout>
