
<nb-card>
    <ng-template [ngIf]="model" [ngIfElse]="loader">
        <nb-card-header>
            <button nbButton 
                (click)="previous()"
                [disabled]="!offset">Previous</button>
            <button nbButton (click)="next()"
                [disabled]="model.count <= offset + limit">Next</button>
        </nb-card-header>
        <nb-list>
            <nb-list-item *ngFor="let pokemon of model.results" 
                (click)="showDetails(pokemon.name)">
                {{ pokemon.name | titlecase }}
            </nb-list-item>
        </nb-list>
    </ng-template>
</nb-card>
<nb-card *ngIf="selectedPokemon">
    <ng-template [ngIf]="!isLoading" [ngIfElse]="loader">
        <nb-card-header>{{ selectedPokemon.name | titlecase }}</nb-card-header>
        <nb-card-body>
            <p>Poids : {{ selectedPokemon.weight / 10 }} kg</p>
            <p>Taille : {{ selectedPokemon.height / 10 }} m</p>
            <div>
                <img [src]="selectedPokemon.sprites.front_default">
            </div>
            <div>
                <div>
                    <div>
                      <div style="display: block">
                        <canvas baseChart
                          [options]="radarChartOptions"
                          [datasets]="radarChartData"
                          [labels]="radarChartLabels"
                          chartType="radar">
                        </canvas>
                      </div>
                    </div>
                  </div>
            </div>
        </nb-card-body>
    </ng-template>
</nb-card>

<ng-template #loader>
    <app-loading></app-loading>
</ng-template>