:host {
    display: flex;
}

nb-card {
    width: 50%;
    margin: 10px;
}
nb-card-header { display: flex; justify-content: space-between; }

nb-list {
    height: 500px;
}

nb-list-item {
    cursor: pointer;
    //transition: .3s ease transform;
    &:hover {
        background-color: orange;
        //transform: scaleX(1.05);
    }
}