<div class="error" *ngIf="(control?.touched || control?.dirty) && control?.invalid">
    <div *ngIf="control?.errors?.email">Email non valide</div>
    <div *ngIf="control?.errors?.required">Ce champ est requis</div>
    <div *ngIf="control?.errors?.maxlength">Ce champ est trop long</div>
    <div *ngIf="control?.errors?.minlength">Ce champ est court</div>
    <div *ngIf="control?.errors?.notBefore">la date n'est pas valide</div>
</div>
