<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="login()">
            <div>
                <input formControlName="email" nbInput placeholder="Email" type="email">
                <app-form-error [control]="fg.get('email')"></app-form-error>
            </div>
            <div>
                <input formControlName="password" nbInput placeholder="password" type="password">
                <app-form-error [control]="fg.get('password')"></app-form-error>
            </div>
            <div>
                <button [disabled]="fg.invalid" nbButton status="success">Se connecter</button>
            </div>
        </form>
        </nb-card-body>
</nb-card>
